html(lang="en")
  head
    meta(charset="utf-8")
    title="Imprint | kuschku.de"

    link(rel="canonical" href="https://kuschku.de/")
    link(rel="shortcut icon" href="/favicon.png")
    link(rel="shortcut icon" href="/favicon.svg")

    meta(property="og:site_name" content="kuschku.de")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Privacy Policy | kuschku.de")
    meta(property="og:url" content="https://kuschku.de/")

    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:title" content="Privacy Policy | kuschku.de")
    meta(property="twitter:url" content="https://kuschku.de/")

    meta(name="generator" content="Human v1.0")

    meta(name="referrer" content="origin")

    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="HandheldFriendly" content="True")

    meta(name="theme-color" content="#0075BF")
    meta(name="msapplication-navbutton-color" content="#0075BF")
    meta(name="apple-mobile-web-app-status-bar-style" content="#0075BF")

    link(rel="stylesheet" href="/assets/stylesheets/style.css")
    link(rel="stylesheet" href="/assets/stylesheets/fonts.css")
  body
    nav
      ul
        li.title
          a(href="/" title="Home")
            h1
              img(src="../assets/images/logo.svg")
              span.
                kuschku.de
        li.spacer
        li
          a(href="https://accounts.kuschku.de/").
            Account
        li
          a(href="/privacy-policy/").
            Privacy Policy
        li.active
          a(href="/imprint/").
            Imprint
    section
      include:markdown-it content.md
    footer