html(lang="en")
  head
    meta(charset="utf-8")
    title="kuschku.de"

    link(rel="canonical" href="https://kuschku.de/")
    link(rel="shortcut icon" href="/favicon.png")
    link(rel="shortcut icon" href="/favicon.svg")

    meta(property="og:site_name" content="kuschku.de")
    meta(property="og:type" content="website")
    meta(property="og:title" content="kuschku.de")
    meta(property="og:url" content="https://kuschku.de/")

    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:title" content="kuschku.de")
    meta(property="twitter:url" content="https://kuschku.de/")

    meta(name="generator" content="Human v1.0")

    meta(name="referrer" content="origin")

    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="HandheldFriendly" content="True")

    meta(name="theme-color" content="#0075BF")
    meta(name="msapplication-navbutton-color" content="#0075BF")
    meta(name="apple-mobile-web-app-status-bar-style" content="#0075BF")

    link(rel="stylesheet" href="/assets/stylesheets/style.css")
    link(rel="stylesheet" href="/assets/stylesheets/fonts.css")
    script(async defer data-website-id="da68465a-4ea3-43a7-aec6-f8904d8bb4f7" src="https://umami.kuschku.de/umami.js")
  body
    nav
      ul
        li.title.active
          a(href="/" title="Home")
            h1
              img(src="../assets/images/logo.svg")
              span.
                kuschku.de
        li.spacer
        li
          a(href="https://accounts.kuschku.de/").
            Account
        li
          a(href="/privacy-policy/").
            Privacy Policy
        li
          a(href="/imprint/").
            Imprint
    section
      h2.centered.
        Services
      ul.cards
        li
          h2.
            ik8r
          p.
            An image hoster allowing images with title and description, albums, and animated gifs.
          .img
            img(src="https://i.k8r.eu/iMXe5wl")
          a(href="https://i.k8r.eu/").
            Discover More
        li
          h2.
            Quassel Logs
          p.
            Public logs of the #quassel and associated IRC channels on Freenode
          .img
            img(src="https://i.k8r.eu/-7kDGgl")
          a(href="https://gluu.kuschku.de/logs/").
            Discover More
      h2.centered.
        Projects
      ul.cards
        li
          h2.
            Powerline Go
          p.
            A beautiful and useful low-latency prompt for your shell, written in go.
          .img
            img(src="https://i.k8r.eu/1FxlXQl")
          a(href="https://github.com/justjanne/powerline-go/").
            Discover More
        li
          h2.
            Quasseldroid
          p.
            An Android-based client for the decentralized Quassel IRC client.
          .img
            img(src="https://i.k8r.eu/7utRBgl")
          a(href="https://quasseldroid.info").
            Discover More
        li
          h2.
            Quassel Rest Search
          p.
            A Proof-of-Concept search engine for Quassel logs based on PostgreSQL fulltext search
          .img
            img(src="https://i.k8r.eu/gTeF6Al")
          a(href="https://github.com/justjanne/quassel-rest-search/").
            Discover More
        li
          h2.
            Quassel Icons
          p.
            The new common icons and colorscheme for all Quassel projects.
          .img
            img(src="https://i.k8r.eu/0Wx4qgl")
          a(href="https://github.com/justjanne/quassel-icons").
            Discover More
        li
          h2.
            Imagehost
          p.
            The image hosting software powering ik8r.
          .img
            img(src="https://i.k8r.eu/iMXe5wl")
          a(href="https://git.kuschku.de/justJanne/imghost-frontend").
            Discover More
    footer
